doctype html
html
    head
        base(href=base)
        meta(charset="utf-8")
        title Mite Overtime
        link(rel="stylesheet", href=base + "bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href=base + "bower_components/bootstrap/dist/css/bootstrap-theme.css")
        script(src=base + "bower_components/jquery/dist/jquery.min.js")
        script(src=base + "bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src=base + "javascripts/script.js")

    body

        a(href="https://github.com/BernhardPosselt/mite-overtime")
            img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png")

        div.container
            h1 Calculate Your Mite Overtime
            p The API key needs to be enabled in the My user section (Do not forget to save your settings). Copy the key from there.
            h2 Issues
            p
                ul
                    li The required time is calculated from the last entry. This means that the tool will not pick up on
                        | days that you did not work on until you create a time entry.
                    li Worktime on weekends is taken as is, nothing is doubled or trippled
            form#mite-form
                div.form-group
                    label(for="form-org") Mite Organization (https://ORGANIZATION.mite.yo.lk/)
                    input.form-control#form-org(name="form-org", type="text", required)
                div.form-group
                    label(for="form-api") Mite API key
                    input.form-control#form-api(name="form-api", type="text", required)
                div.form-group
                    label(for="form-perweek") Required hours per day
                    input.form-control#form-perday(name="form-perweek", type="number", step="0.1" required)
                div.form-group
                    input(type="submit", value="calculate overtime", class="btn btn-default")

            h1 Result
            table.table.table-striped
                tr
                    th Required
                    td#required
                tr
                    th Actual
                    td#actual
                tr
                    th Overtime
                    td#overtime

